export = {
        url: "{{ enterprise_config.acme_verifier.url }}",
        port: "{{ enterprise_config.acme_verifier.port }}",
        appSecret: "{{ enterprise_config.acme_verifier.secret }}",
        db: {
                host: "wallet-db",
                port: "3307",
                username: "root",
                password: "root",
                dbname: "verifier"
        },
        wwwalletURL: "{{ wallet_frontend.url }}/cb"
}
