export = {
        url: "http://{{ enterprise_config.diploma_issuer.host }}.{{ base_domain }}",
        port: "{{ enterprise_config.diploma_issuer.port }}",
        appSecret: "{{ enterprise_config.diploma_issuer.secret }}",
        db: {
                host: "wallet-db",
                port: "3307",
                username: "root",
                password: "root",
                dbname: "issuer"
        },
        wwwalletURL: "http://{{ wallet_frontend }}/cb"
}
