export = {
        url: "{{ enterprise_config.ehic_issuer.url }}",
        port: "{{ enterprise_config.ehic_issuer.port }}",
        appSecret: "{{ enterprise_config.ehic_issuer.secret }}",
        db: {
                host: "wallet-db",
                port: "3307",
                username: "root",
                password: "root",
                dbname: "ehicissuer"
        },
        wwwalletURL: "{{ wallet_frontend.url }}/cb"
}
