HOST=0.0.0.0
PORT=3000
REACT_APP_WS_URL=ws{{ 's' if enable_letsencrypt }}://{{ wallet_frontend.host }}.{{ base_domain }}/ws
REACT_APP_WALLET_BACKEND_URL={{ wallet_frontend.url }}/backend
REACT_APP_LOGIN_WITH_PASSWORD={{ allow_password }}

REACT_APP_FIREBASE_VAPIDKEY=12345
REACT_APP_FIREBASE_API_KEY=none
REACT_APP_FIREBASE_AUTH_DOMAIN=none
REACT_APP_FIREBASE_PROJECT_ID=none
REACT_APP_FIREBASE_STORAGE_BUCKET=none
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=none
REACT_APP_FIREBASE_APP_ID=none
REACT_APP_FIREBASE_MEASUREMENT_ID=none

REACT_APP_DID_KEY_VERSION=jwk_jcs-pub
REACT_APP_VERSION=$npm_package_version
REACT_APP_DISPLAY_CONSOLE=true
